DEV_SERVER_PORT=3000
DEV_API_PROXY_TARGET=http://127.0.0.1:5234
VITE_API_BASE_URL=/api

POSTGRES_DB=itplanetatramplin
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

MAILPIT_SMTP_PORT=1025
MAILPIT_WEB_PORT=8025

FRONTEND_VITE_API_BASE_URL=/api

CADDY_SITE=localhost
CADDY_EMAIL=

API_CONNECTION_STRING=Host=db;Port=5432;Database=itplanetatramplin;Username=postgres;Password=change-me
API_APPLY_MIGRATIONS_ON_STARTUP=false
API_JWT_KEY=replace-with-long-random-secret
API_EMAIL_VERIFICATION_HASH_KEY=replace-with-long-random-secret
API_PASSWORD_RESET_HASH_KEY=replace-with-long-random-secret
API_SMTP_HOST=
API_SMTP_PORT=587
API_SMTP_ENABLE_SSL=true
API_SMTP_USERNAME=
API_SMTP_PASSWORD=
API_SMTP_FROM_EMAIL=
API_SMTP_FROM_NAME=Tramplin
API_DADATA_API_KEY=
